<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Taipei Bus Dynamic Search</title>
    <link rel="stylesheet" href="../stylesheets/font-awesome.css"/>
    <link rel="stylesheet" href="../stylesheets/taipei_all.css"/>
    <link rel="shortcut icon" href="../images/Bus-icon.ico"/>
  </head>
  <body>
    <div id="toolBox">
      <div class="container"><a href="#" title="Facebook login to use My Favorite" class="fb-btn">
          <div class="fa fa-facebook-official"></div><span style="font-size: 20px">Facebook Login</span></a><a href="taipeibus_en.ejs" title="Back to Search" class="return-btn">
          <div class="fa fa-undo"></div><span style="font-size: 20px">Back to Search</span></a><a href="taipei-bus-way.ejs" title="切換繁中介面" class="Zh-btn">
          <div style="font-size:28px;font-weight:900;font-family:Microsoft JhengHei;" class="fa">繁</div><span>繁體中文模式</span></a><a href="taipei-bus-way_en.ejs" title="Trans to English mode" class="En-btn">
          <div style="margin-right:4px;font-weight:900;font-family:monospace;" class="fa">E</div><span>English Mode</span></a></div>
    </div>
    <div class="container">
      <header id="header">
        <h1>Taipei Bus Search
          <p id="now-position">　</p>
        </h1>
        <h2>Please chose bus way</h2>
        <div id="bus-way-chose">
          <button id="go" type="button" class="btn"> Go</button>
          <button id="back" type="button" class="btn"> BACK </button>
        </div>
      </header>
      <ul id="bus-way-list">
      </ul>
    </div>
  </body>
  <script src="../javascripts/taipei_way_en.js"></script>
  <style>
    .btn{
        padding: 5px;
        height: auto;
        border-radius: 15px;
    }
    .btn:before,.btn:after{
        display: none;
    }
  </style>
</html>