<!DOCTYPE html>
<html lang="en">
<head>
<title>Miss Marry</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/simple-line-icons.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/device-mockups.min.css">
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato">
<link href="//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
<link href="//fonts.googleapis.com/css?family=Muli">
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i></button>
      <a class="navbar-brand page-scroll" href="#page-top">Miss Marry</a></div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="#Introduction">簡介</a></li>
        <li><a class="page-scroll" href="#Origin">緣起</a></li>
        <li><a class="page-scroll" href="#Feature">特色</a></li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>「最貼心的生活助理小幫手」</h1>
            <br>
            <a href="#Introduction" class="btn btn-outline btn-xl page-scroll">瞭解更多</a></div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen"><img src="images/vedio.gif" class="img-responsive" alt=""></div>
              <div class="button"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="Introduction" class="Introduction bg-primary text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="section-heading">產品介紹</h2>
        <p>「Miss Marry」，為一項結合messenger的整合性聊天系統，主要針對大學生族群，希望透過此系統能為他們帶來實用性與操作性的便利服務。</p>
        <!-- <div class="badges"><a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a> <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a></div> -->
      </div>
    </div>
  </div>
</section>


<section class="cta" id="Origin">
  <div class="cta-content">
    <div class="container col-md-8 ">
      <h2>產品緣起</h2>
      <h4 style="color: #fff;line-height: 25px;">因目前市面上APP太多，雖然他們設計的功能很健全，但再怎麼方便似乎也是變得越複雜，而不能完全地達到使用者的需求。我們希望透過人工智慧的技術，將資料加以分析，使其結果更加貼近人心，提升用戶的使用感受。</h4>
      <br>
     <!--  <a href="#Feature" class="btn btn-outline btn-xl page-scroll">Started!</a> --></div>
  </div>
  <div class="overlay"></div>
</section>



<section id="Feature" class="Origin">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>產品特色</h2>
        
		  <p class="text-muted">作為一項結合聊天機器人與使用者資料管理的程式，我們可大致歸納出下列幾項特色。</p>
		  <br>
		  <br>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen"><img src="images/vedio.gif" class="img-responsive" alt=""></div>
              <div class="button"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item" style="font-size:80px;"><i class="fas fa-bell text-primary"></i>
                <h3>人性化回覆與提醒</h3>
                <p class="text-muted">支援一問一答地聊天形式，回答內容不流於俗套，且具備提醒功能。</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="feature-item" style="font-size:80px;"><i class="fas fa-microphone text-primary"></i>
                <h3>支援語音辨識功能</h3>
                <p class="text-muted">能夠讀取、辨識使用者發來的語音消息，並針對此做回覆。</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="feature-item" style="font-size:80px;"><i class="fas fa-atom text-primary"></i></div>
                <h3>整合多項第三方服務</h3>
                <p class="text-muted">不僅僅只是聊天介面，同時整合了天氣、交通與行事曆，能一次獲取並統一、更新三項資訊。</p>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <p>Copyright &copy; Miss Marry 2019 ｜ All Rights Reserved.</p>
    
  </div>
</footer>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/jquery.easing.min.js"></script>
<script src="javascripts/script.js"></script>
</body>
</html>